    body {
        font-family: 'Arial', sans-serif;
        background-color: lightgrey;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: darkslategrey;
        padding: .1em;
        text-align: center;
        color: white;
        font-size: 1.2rem;
        box-shadow: 0 4px 6px black;
    }

    section {
        padding: .1em;
    }

    #slider {
        position: relative;
        width: 55%;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    #slides {
        height: 30em;
        transition: transform 0.5s ease-in-out;
    }

    #slides a {
        display: block;
        flex-shrink: 0;
        width: 100%;
    }

    #slides img {
        width: 100%;
        display: block;
        border-radius: 10px;
    }

    #ant, #sig {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border: none;
        padding: 15px;
        cursor: pointer;
        visibility: hidden;
        border-radius: 30%;
    }

    #ant {
        left: 15px;
    }

    #sig {
        right: 15px;
    }

    #slider:hover #ant, 
    #slider:hover #sig {
        visibility: visible;
    }

    footer {
        background-color: darkslategrey;
        color: white;
        text-align: center;
        padding: 1em;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }

    .imagen{
        width: 100%;
    }